body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.outer {
    display: flex;
    width: 80vw;
    height: 80vh;
    max-width: 1000px;
    max-height: 700px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: rgb(26, 8, 0);
}

.inner1, .inner2 {
    flex: 1;
    height: 100%;
}

.inner1 {
    background-image: url("https://i.etsystatic.com/42932105/r/il/2d3693/4883802193/il_794xN.4883802193_8s46.jpg");
    background-size: cover;
    background-position: center;
}

.inner2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 10%;
    background-color: white;
}
